$primary: #4364F7;
$body-bg: #FAFAFC;
$light: #FFFFFF;
$dark: #000000;
$secondary: #343A40;
$body-color: #707070;
$info: #FAFAFC;


$enable-shadows:                              true !default;
$enable-gradients:                            true !default;
$enable-responsive-font-sizes:                true !default;

// $border-radius: 10%;   //div radius
// $border-radius-lg: .5rem;   //button-lg radius
// $border-width: 0; //for button
